.booking {
  width: 50vw;
  background-color: #fff;
  height: 50px;
  position: absolute;
  bottom: 100px;
  z-index: 999;
  left: 25vw;

  p {
    font-size: 0.7rem;
    font-weight: 400;
    padding: 10px 30px;
    height: calc(100% - 20px);
  }

  p + p {
    border-left: 1px solid $light-gray;
  }

  .gold {
    background-color: $primary-color;
    color: #fff;
  }

  .research-bar {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .research-bar__item {
      display: flex;
      padding-left: 20px;

      .research-bar__item--input {
        border: none;
        height: 40px;
        outline: none;
        text-transform: uppercase;
        font-size: 0.7rem;
        letter-spacing: 1px;
      }
    }

    .research-bar__item + .research-bar__item {
      border-left: 1px solid $light-gray;
      padding-left: 20px;
    }

    .button {
      padding-left: 0 !important;

      input {
        background: $primary-color;
        border-radius: 0;
        height: 50px;

        text-transform: uppercase;
        font-size: 0.7rem;
        letter-spacing: 1px;
        border: none;
        color: $light;
        padding: 0px 20px;
      }
    }
  }
}
